<mat-card class="card-container mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Medicine</mat-card-title>
    <mat-card-subtitle>Medicine List</mat-card-subtitle>
    <span class="filter"></span>
    <button mat-mini-fab color="primary" [routerLink]="['/medicine-create']"><mat-icon>add</mat-icon></button>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div class="table-container">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sor-header>Medicine Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.medicineName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="weightContaints">
          <mat-header-cell *matHeaderCellDef mat-sor-header>Weight Containts</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.weightContaints}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="MG_ML">
          <mat-header-cell *matHeaderCellDef mat-sor-header>MG ML</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.mG_ML}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sor-header>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="available">
          <mat-header-cell *matHeaderCellDef mat-sor-header>Available</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.available}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sor-header>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" [routerLink]="['/medicine-edit',element.medicineId]"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
        <mat-row *matRowDef="let row;columns:columnList"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5,10,15,20,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
