<form [formGroup]="doctorServiceForm" (submit)="insert()" class="form-container">
  <div class="f-w">
    <h4>Create Doctor by Service</h4>
  </div>

  <mat-form-field class="f-w">
    <mat-label>Doctor Name</mat-label>
    <mat-select formControlName="doctorId">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let d of doctors" [value]="d.doctorId">{{d.doctorName}}</mat-option>
    </mat-select>
    <mat-error *ngIf="f.doctorId.touched && f.doctorId.errors?.required">Doctor name Required</mat-error>
  </mat-form-field>

  <mat-form-field class="f-w">
    <mat-label>Service Name</mat-label>
    <mat-select formControlName="serviceId">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let s of services" [value]="s.serviceId">{{s.serviceName}}</mat-option>
    </mat-select>
    <mat-error *ngIf="f.serviceId.touched && f.serviceId.errors?.required">Service name Required</mat-error>
  </mat-form-field>

  <div class="f-w">
    <button type="submit" mat-raised-button color="primary"><mat-icon>save_alt</mat-icon> Save</button>
  </div>

  <div class="f-w">
    <button mat-raised-button color="accent" [routerLink]="['/doctorService']">Back</button>
  </div>
</form>
